@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 100vh;
  padding: 100px 30px;
  font-family: 'Inter', sans-serif;
  background-color: var(--color-gray-1);
}

input, label, button {
  transition-duration: var(--transition-duration);
}

:focus-visible {
  outline: 2px dashed var(--color-black);
  outline-offset: 4px;
  transition-duration: 0s !important;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.todo-item__delete-button:focus-visible,
.todo-item__actions a:focus-visible {
  outline: none !important;
  box-shadow: 0 0 0 3px rgba(117, 117, 117, 0.35) !important;
  border-radius: 50%;
}

.todo-item__actions a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--color-gray-4);
  border-radius: 50%;
  transition: all var(--transition-duration);

  &:hover {
    color: var(--color-white) !important;
    background-color: var(--color-dark-1) !important;
  }

  &:active {
    transform: scale(1.05);
  }
}

.todo-item__delete-button {
  border-radius: 50%;
  transition: all var(--transition-duration);

  &:hover {
    color: var(--color-white) !important;
    background-color: var(--color-dark-1) !important;
  }
}
