

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 12px;
  padding: 10px 15px 10px 10px;
  min-height: 60px;
  border: var(--border);
  border-radius: var(--border-radius);

  &:hover {
    background-color: var(--color-gray-1);
  }

  .todo-item__actions {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
  }
}



.todo-item__label {
  width: auto;
  flex-grow: 1;
  min-width: 0;
  pointer-events: none;
}

.todo-item__delete-button {
  flex-shrink: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  padding: 0;
  color: var(--color-gray-4);
  background-color: transparent;
  border: none;
  border-radius: inherit;

  &:hover {
    color: var(--color-white);
    background-color: var(--color-dark-1);
  }
  &:active {
    scale: 1.05;
  }
  * {
    pointer-events: none;
  }
}

.todo-item__header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 2px;
}

.todo-item__title {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}

.todo-item__label {
  width: auto;
  flex-grow: 1;
  min-width: 0;
  pointer-events: none;
}

.todo-item__description {
  margin-top: 4px;
  margin-bottom: 0;
  font-size: 0.9em;

  display: block;
  max-height: 2.8em;
  line-height: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.todo-item__title {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}


