

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 12px;
  padding-left: 10px;
  border: var(--border);
  border-radius: var(--border-radius);

  &:hover {
    background-color: var(--color-gray-1);
  }

  .todo-item__actions {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
  }
}





.todo-item__label {
  width: auto;
  flex-grow: 1;
  min-width: 0;
  pointer-events: none;
}

.todo-item__delete-button {
  flex-shrink: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  padding: 0;
  color: var(--color-gray-4);
  background-color: transparent;
  border: none;
  border-radius: inherit;

  &:hover {
    color: var(--color-white);
    background-color: var(--color-dark-1);
  }
  &:active {
    scale: 1.05;
  }
  * {
    pointer-events: none;
  }
}

